*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1{
  font-family: 'Cinzel', serif;
  font-size: 50px;
  color: blue;
}
.HomePage{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.ContainerDiv{
  width: 250px;
 
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(226, 225, 225);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: inline-block;
  margin: 20px 0px;
  transition: .1s linear;
}
.ContainerDiv h2{
  color: rgb(0, 0, 0);
}
.ContainerDiv:hover{
   transform:scale(1.1);
   
   box-shadow: 0px 0px 20px rgb(158, 158, 158);
   
   
}
.Hover{
  transition: .1s linear;
}
.Hover:hover{
  transform:scale(1.03);
   
   box-shadow: 0px 0px 20px rgb(158, 158, 158);
   
}
.ContainerDiv img{
  transition: .2s linear;
  width:100px;
  height: 100px;
  object-fit: cover;


}
.TimeDiv{
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(226, 225, 225);
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  margin: 10px auto;
  padding: 20px;
}
.TimeDiv>div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.TimeDiv>div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}
.TimeDiv h1{
  font-size: 40px;
}
.ActiveDiv{
  background-color: blue;
  color: white;
}
.Navbar{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.Navbar ul{
  display: flex;
  gap: 20px;
  align-items: center;
}
.Navbar ul li{
list-style: none;
font-size: 20px;
font-weight: bold;
}
.ButtonClick{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgb(226, 225, 225);
 
}
.prymary{
  background-color: blue;
  color: white;
}
.secondry{
  background-color:white;
  color: blue;
}
.ContainerAudio{
  position: relative;
}

.ContainerAudio>div{
  
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 122, 0.616);
  border-radius: 10px;
  display: none;
}
.ContainerAudio:hover div{
  display: flex;
  
}

.ContainerAudio button{
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.Audioplayer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: blue;
  
  
  border-radius: 10px;
  width: 300px;
  
}
.Audioplayer img{
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.Audioplayer ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 10px;
}
.Audioplayer li{
  list-style: none;
  color: white;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Audioplayer li:hover{
  background-color: rgb(0, 0, 126);
}
.Audioplayer button{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  color: white;
  
}

.Sarlavha{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 20px 0px;
}
.Sarlavha ul{
  display: flex;
  gap: 5px;
  padding: 0px 0px 20px 0px;
  flex-wrap: wrap;
}
.Sarlavha li{
  list-style: none;
  text-decoration: none;
}
.NamozHarakatlar{
   width: 100%;
   display: grid;
   gap: 15px;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto;
}
.NamozHarakatlar li button {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: blue;
}
.NamozHarakatlar>div:nth-child(1){
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.NamozHarakatlar>div:nth-child(1) p{
  padding: 5px 0px;
  text-align: start;
  font-size: 18px;
  font-weight: 600;
}
.NamozHarakatlar>div:nth-child(2){
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NamozHarakatlar>div:nth-child(2) img{
  width: 300px;
  object-fit: cover;
  height: 300px;
}
.NamozHarakatlar>div:nth-child(3){
  grid-column: 2/3;
  grid-row: 2/3;
}
.NamozHarakatlar img{
  width: 200px;
}
@media screen and (max-width:600px) {
  /* .ContainerDiv{
    width: 100%;

  } */
  .ContainerDiv img{
    width: 70px;
    height: 70px;
  }
  h1{
    font-size: 15px;
    
  }
  h2{
    font-size: 25px;
  }
  .NamozHarakatlar{
    width: 100%;
   
    grid-template-columns: 100%;
   
 }
  .NamozHarakatlar>div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
   
  }
  .NamozHarakatlar>div:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
    
  }
  .NamozHarakatlar>div:nth-child(3){
    grid-column: 3/4;
    grid-row: 3/4;
  }
  
}
@media screen and (max-width:450px) {
  h1{
    font-size: 20px;
    
  }
  h2{
    font-size: 15px;
  }
  .Sarlavha h2{
    font-size: 25px;
 }
}